.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.title {
    align-self: flex-start;
    color: #555;
}

.loginButton {
    margin-top: 10px;
    width: 100px;
}

.googleSignInButton {
    margin-top: 20px;
}

.register{
    margin-top: 40px;
    font-size: smaller !important;
}