.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #555;
}

.registerCard{
    padding: 20px;
    justify-self: center;
}