.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.locationSearchContainer {
    width: 30%;
    gap: 15px;
}

.textArea {
    position: relative;
    padding: 15px;
    font-size: larger;
}

.textArea:focus {
    border-color: #615e5e;
}

.searchButtonContainer {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchButton {
    position: unset;
    /* font-size: xx-large; */
    /* border-radius: 100%; */
    /* border: none;
    background-color: transparent; */
}

.searchButton:hover {
    background-color: rgb(86, 51, 129);
}

.resultMessage {}

/* .resultsContainer {
    display: grid;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 8px;
}
 */


.resultsContainer {
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
    width: 70%;
}


.activityGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-items: center;
}