.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbarTitle {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.navbarIcon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.navbarLinks {
    justify-self: center;
    display: flex;
    gap: 24px;
    font-size: 1rem;
    color: #666;
    margin-right: 24px;
}

.navbarLinks a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.navbarLinks a:hover {
    color: black;
}