.activitiesContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
}


.activitiesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding: 10px;
    height: 90%;
}

.searchActivitieButton {
    justify-self: flex-end;

}

.buttonList {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 70%;
}