.formError {
    color: red;
}

.formInput {
    padding: 15px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: lightcyan;
    color: dimgray;
}

.imageInput{
    padding: 10px;
    display: inline-block;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.imagePreview{
    border-radius: 100%;
}